#flight_details{
    display: inline-block;
    margin-left: 0;
    border: 2px solid black;
    background-color: wheat;
    text-align: left;
}
a{
    text-decoration: none;
}
main{
    text-align: left;
}
#frame{
    text-align: left;
}