
a:hover{
    color: blue;
}
a{
    text-decoration: none;
}
#page{ 
    color: black;
    padding: 2px 0;
    margin: 30px;
    text-align: left;
    font-weight: bold;
}
#main{
    width: 92%;
    border: 2px solid black;
    padding: 20px;
    margin: 20px auto;
    text-align: left;
    
}

#frame{
    width: 100%;
    border: 3px solid black;
}

#text{
    text-align: right;
    border: 2px solid black;
    display: inline-block;
    background-color: gray;
    border-radius: 50%; 
    top: 10px;
    padding: 5px;
}
body{
    background-color: antiquewhite;
}

#newFlight{
    text-align: left;
}
#addSome{
    padding: 5px 50px;
    margin: 20px;
    
}

a{
    text-decoration: none;
}
table{
    text-align: center;
}
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: antiquewhite;
}
th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: burlywood;
}