h1{
text-align: center;
}
.addFlight{
    text-align: center;
    margin-top: 20px;
}
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }