.flight-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffe6e6;
  }

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}


.book-btn {
    background-color: #7384ab;  
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 12px 24px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}


.book-btn:hover {
    background-color: #141e92; 
    transform: scale(1.05);
}

 
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }