.flight-details {
  max-width: 600px;
  margin: auto;
}

mat-form-field {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.passenger-section {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
