.booking-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
    flex-shrink: 0;
  }
  .booking-card {
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    max-width: 600px; 
    min-height: 150px; 
    margin: 10px auto; 
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }
  
    h1{
        text-align: center;
    }
  .statusCancel {
    background-color: #f44336;
    color: #fff;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
  }
  .statusActivate {
    background-color: #4CAF50;
    color: #fff;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
  }

