

<div *ngIf="booking" class="view-booking">
  <h1>Booking Details</h1>
  <mat-card class="booking-card" appearance="outlined">
  <div class="booking-card">
    <div *ngif="booking" class="booking-card"></div>
    <img mat-card-image [src]="imgUrl" alt="Destination image" class="booking-image">
    <mat-card-content>
      <div class="booking-details">
        <p><strong>Origin:</strong> {{ booking.from }}</p>
        <p><strong>Boarding Date:</strong> {{ booking.fromDate }} at {{ booking.fromTime }}</p>
        <p><strong>Destination:</strong> {{ booking.to }}</p>
        <p><strong>Landing Date:</strong> {{ booking.toDate }} at {{ booking.toTime }}</p>
        <p><strong>No. of Passengers:</strong>  2 </p>
        <p><strong> Passenger 1:</strong>   </p>
        <p><strong> Name:</strong>  Yakov Makoria </p>
        <p><strong> Pasport No.:</strong>  3456123456 </p>
        <p><strong> Passenger 2:</strong> </p>
        <p><strong> Name:</strong>  Noam Ben-Asuli</p>
        <p><strong> Pasport No.:</strong>  3456123456 </p>
      </div>
  </mat-card-content>
  </div>
</mat-card>







